/*CSS BASE*/

* {
    font-family: Trebuchet MS, Verdana, " sans-serif";
}

header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.elementos_alineados {
    display: inline-flex;
}

.boton-sub-header {
    width: calc(20vw + 6px);
    height: calc(8vw + 6px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.boton-sub-header:after {
    content: attr(value);
    width: 20vw;
    height: 8vw;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-sub-header:hover {
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

#iconos,
#botones_header,
#iconos_index {
    display: inline-flex;
    padding-top: 9px;
}

#botones_header {
    margin: 6px;
    margin-left: 30px;
}

#iconos {
    margin-left: 500px;
    margin-right: 80px;
}

#fondo {
    background-color: #333;
    height: 60px;
    width: 1330px;
}

#iconos_index {
    margin-left: 1000px;
}

.icono {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

#conocenos {
    color: #fff;
    text-align: center;
}

.boton-sub-header {
    width: 130px;
    height: 30px;
    margin: 0;
    padding: 0;
}

#titulo {
    text-align: center;
    margin-left: 200px;
    color: #279AE8;
    font-size: 30px;
    display: block;
}

#tel {
    margin-left: 200px;
    color: #055184;
    font-size: 25px;
    margin-right: 30px;
}

img {
    margin-left: 130px;
    margin-top: 2px;
}

footer {
    text-align: center;
    background-color: #202344;
    padding-bottom: 30px;
    padding-top: 5px;
}

#contacto {
    color: white;
    margin: 10px;
}

#letras {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
}

div.centraTabla {
    text-align: center;
}

div.centraTabla table {
    margin: 0 auto;
    text-align: left;
}


/*CSS PARTE 1 INDEX*/

#nexus {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: white;
}

#presentacion {
    background-image: url(https://s2.thingpic.com/images/bG/ovu1suE3FqfH5KtPugCSdKza.jpeg);
    display: flex;
    align-items: center;
}

#entrada {
    margin-left: 150px;
    margin-bottom: 50px;
}

#formulario {
    margin-left: 300px;
    padding: 40px;
    background-color: white;
    text-align: center;
    border: 10px solid #094872
}

#login {
    text-align: center;
    font-size: 30px;
    color: #094872;
}

#sistema {
    width: 400px;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#descr {
    width: 400px;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*CSS PARTE 2 INDEX*/

#caracteristicas {
    text-align: center;
    font-size: 50px;
    color: #094872;
    padding-top: 70px;
}

#cuerpo,
#info {
    display: flex;
    align-items: center;
    padding: 50px;
}

#parrafo,
#parrafo2 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
}

#solucion,
#version {
    text-align: center;
    font-size: 50px;
    color: #094872;
    padding-top: 70px;
}

#infopre {
    text-align: center;
    padding-bottom: 130px;
}

#parrafo1,
#parrafo2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#precio1,
#precio2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    background-color: #1B83CA;
}


/*CSS FORMULARIOS*/

#title,
#title2,
#titletabla,
#title3,
#title4,
#title5,
#title6 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman';
    color: white;
    text-align: center;
    background-color: #f65316;
}

#argum,
#argum2,
#argum3,
#argum4,
#argum5,
#argum6 {
    background-color: white;
    color: black;
    padding: 40px;
    border: 2px solid black;
    text-align: left;
}

#all,
#todo,
#todo3,
#todo4,
#todo5,
#todo6 {
    background-color: #202344;
    font-family: arial, "sans serif";
    margin: 0 auto;
    padding: 100px;
    margin-bottom: 100px;
}

#formutick {
    text-align: center;
    margin: 50px;
}


/*CSS BOTONES*/

.personalizar {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #094872;
    border-radius: 6px;
    border: 2px solid #202344;
}

.personalizar:hover {
    color: #202344;
    background-color: #ffffff;
}

#botonVlog {
    margin: 20px;
}


/*CSS TABLAS*/

#table2 {
    border: 1px solid #094872;
    padding: 10px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    background-image: url(https://i.pinimg.com/originals/cf/1c/17/cf1c17e9c0b3ea0248e1898da8489ac1.jpg);
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    ;
}

#table2 th,
#table2 td {
    text-align: center;
    border: 1px solid #000;
    padding: 0.3em;
    background: #fff;
    color: #000;
}

#table2 th {
    background-color: #094872;
    color: white;
}


/* CSS BLOG*/

#img1,
#img2,
#img3,
#img4 {
    display: block;
    margin: auto;
}

#guia {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    font-size: 40px;
}

#guia1,
#guia2 {
    text-align: center;
    font-size: 35px;
}

.guia {
    text-align: center;
    font-size: 25px;
}

.par {
    margin: 60px;
    color: black;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*CSS MENU*/

:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
    margin: 10px;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}

#body_eleccion {
    background-image: url(https://oedimdecor.com/wp-content/uploads/2019/04/alfombra-pintadas-abstractas-1-1333x1000.jpg);
    height: 600px;
    margin-bottom: 60px;
}

#agrupacion {
    text-align: center;
    padding-top: 250px;
}

#tabla_email {
    display: inline-flex;
    margin-bottom: 100px;
    margin-left: 2px;
    padding-top: 40px;
    background-image: url(https://i.pinimg.com/originals/04/6b/e8/046be8d2e5af0f56e50b3477b322dbeb.jpg);
    padding: 20px;
    width: 100%;
}

#tablaemail2 {
    box-sizing: content-box;
    width: 50%;
    border: 4px solid #055184;
    padding: 50px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #fcd9e8;
    margin-left: 30px;
}

#tablaemail3 {
    margin-left: 30px;
}

#nuevo_correo {
    font-size: 20px;
}

#tablaemail3,
#tablaemail1 {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 350px;
    border-collapse: collapse;
}

#tablaemail3 td,
#tablaemail3 th,
#tablaemail1 td,
#tablaemail1 th {
    border: 1px solid transparent;
    height: 30px;
}

#tablaemail3 th,
#tablaemail1 th {
    background: #a02057;
    font-weight: bold;
    color: #fff;
}

#tablaemail3 td,
#tablaemail1 td {
    background: #fcd9e8;
    text-align: center;
}