img{

    margin-left: 150px;
    margin-top: 2px;
}

header{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    }   
#titulo{
    margin-right: 150px;
    margin-left: 150px; 
    color: #279AE8;
    font-size: 30px;
    font-family: serif;
}
#tel{
    margin-left: 100px;
    color: #055184;

}

footer{
    text-align: center;
    background-color: #1B83CA;
    padding-bottom: 30px;
    padding-top: 5px;
}

div.centraTabla{
    text-align: center;

    }

    div.centraTabla table {
    margin: 0 auto;
    text-align: left;
    }

    #letras{
        color: white;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif
    }
   