<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de registro</title>
</head>
<body>
    <form action="{% url 'registrar_tickets' %}"method="post">
    {% csrf_token %}
        <p>
            <label>Nº de referencia</label>
            <input type="text" name="referencia"> 
        </p>
        <p>
            <label>Titulo</label>
            <input type="text" name="titulo"> 
        </p>
        <p>
            <label>Descripción</label>
            <textarea name="descripcion" rows="10" cols="50"></textarea>
        </p>
        <p>
            <label>Fecha de apertura</label>
            <input type="date" name="fechaapertura">
            <input type="time"name="horaapertura">
        </p>
        <p>
            <label>Fecha de resolución</label>
            <input type="date" name="fecharesolucion">
            <input type="time"name="horaresolucion">

        </p>
        <p>
            <label>Nivel de urgencia</label>
            <select id="urgencia" name="urgencia">  
                <optgroup label="Edad">
                <option selected>urgente</option>
                <option>alta</option>
                <option>media</option>
                <option>baja</option>
                </optgroup>
            </select>
        </p>
        <p>
            <label>Tipo de ticket</label>
            <select id="tipo" name="tipo">  
                <optgroup label="Edad">
                <option selected>avería</option>
                <option>mejora</option>
                <option>mantenimiento</option>
                </optgroup>
            </select>
        </p>
        <p>
            <label>Estado de ticket</label>
            <select id="estado" name="estado">  
                <optgroup label="Edad">
                <option selected>abierto</option>
                <option>cerrado</option>
                </optgroup>
            </select>
        </p>
        <p>
            <label>Comentario</label>
            <textarea name="comentario" rows="10" cols="50"></textarea>
        </p>
        <p>
                
            <input type="submit" value="Registrar"> 
        </p>
    </form>


</body>
</html>