{% extends "base.html" %} 
{% load static %} 
{% block title %}{{ title }}{% endblock %} 
{% block content %}
<div id="fondo"class="elementos_alineados">
    <div id="botones_header">
        <a href="{% url 'index_default_view' %}"><input class="boton-sub-header" type="submit" value="Log out" /></a>
        <a href="{% url 'employer_update' logged_employer.id %}"><input class="boton-sub-header" type="submit" value="Personalizar cuenta" /></a>
        <a href="{% url 'ticket_default_portal' %}"><input class="boton-sub-header" type="submit" value="Lista de tickets" /></a>
        <a href="{% url 'employer_emails' %}"><input class="boton-sub-header" type="submit" value="Email" /></a>
    </div>        
     <div id="iconos">
        <p id="conocenos">Conocenos: </p>
        <a href="https://twitter.com/?lang=es"><img src="{% static  "../static/img/iconoTwitter2.png" %}" alt="" class="icono"/></a>
        <a href="https://www.facebook.com/"><img src="{% static "../static/img/facebook.png" %}" alt="" class="icono"/></a>
        <a href="https://es.linkedin.com/"><img src="{% static "../static/img/linkedln.png"  %}" alt="" class="icono"/></a>
    </div>
</div>
<h1 id="titletabla">Lista de Maquinas</h1>
<div>
    <a href="{% url 'machine_registry' %}"><input class="personalizar" type="submit" value="Nuevo Equipo" /></a>
</div>
<div id="tabla">
    <table id="table2">
        <tr>
            <th>Numero de referencia de la maquina</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Tipo de maquina</th>
            <th>Fecha apertura</th>
            <th>Fecha de puesta en marcha</th>
            <th>Nombre del proveedor</th>
            <th>Telefono del proveedor</th>
            <th>Planta</th>           
        </tr>
        {% if list_machines_already_exists %}  
            {% for machine in list_machines_already_exists %}
                <tr>
                    <td>{{ machine.set_number }}</td>
                    <td>{{ machine.model }}</td>
                    <td>{{ machine.brand }}</td>
                    <td>{{ machine.machine_type }}</td>
                    <td>{{ machine.get_date }}</td>
                    <td>{{ machine.start_up_date }}</td>
                    <td>{{ machine.provider_name}}</td>
                    <td>{{ machine.provider_telefone }}</td>
                    <td>{{ machine.floor_on_premise }}</td>
                    <td> <a href="{% url 'update_machine' machine.id %}"><input class="personalizar" type="button" value="Actualizar"></a></td>
                    <td>
                        <form action=""  method="post">   
                            {% csrf_token %}
                            <button class="personalizar" type="submit" value={{ machine.id }} name="Delete">Eliminar</button> 
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <td> <a href="{% url 'update_machine' machine.id %}"><input type="button" value="Actualizar"></a></td>
            <td> <a href="{% url 'employer_create' %}"><input type="button" value="Registrar"></a></td>

            <td>
                <div>
                    <form action="{% url 'employer_default_portal' %}" method="delete">
                        {% csrf_token %}
                        <input type="submit" value="Delete" placeholder="Delete" />
                    </form>
                </div>
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}