{% extends "base.html" %}
{% load static %}

{% block tittle %}{{ tittle }}{% endblock %}

{% block content %}
<!--Script para el get de emails-->
<script>
    const SERVICE_URL="http://127.0.0.1:8000/nexus.com/apiallemails/"
    function loadData() {
      fetch(SERVICE_URL)
      .then((response) => response.json())
      .then((json) => {
          for (let element of json) {
            
          var dates='<td>'+element.send_user+'</td> <td>'+element.subjct+'</td>   '
          console.log(dates)
          document.getElementById("tablaemail1").insertRow(-1).innerHTML =dates
          
          }
      });
  }

      loadData();
   
</script>
<!--Script para el get de emails de contactos-->
<script>
    const SERVICE_URL="http://127.0.0.1:8000/nexus.com/apiallemployer/"
    function loadData() {
      fetch(SERVICE_URL)
      .then((response) => response.json())
      .then((json) => {
          for (let element of json) {
            
          var dates='<td>'+element.name+'</td> <td>'+element.email+'</td>   '
          console.log(dates)
          document.getElementById("tablaemail3").insertRow(-1).innerHTML =dates
          
          }
      });
  }

      loadData();

</script>
<!--Script post de ajax-->
<script>
    document.getElementById("tablaemail2").addEventListener("submit", Crearobj)
    function Crearobj(event) {
    event.preventDefault()
    var personyousend = document.getElementsByTagName('input')[0].value;
    var ownemail = document.getElementsByTagName('input')[1].value;
    var subject = document.getElementsByTagName('input')[2].value;
    var text = document.getElementsByTagName('input')[3].value;
    var esto=new FormData(document.getElementById("tablaemail2"))
     fetch("http://127.0.0.1:8000/nexus.com/apiallemails/", {
     method :'POST',

        body :
        esto
            })
            .then(response => response.json())
            .then(json => console.log(json))
            var text = document.createTextNode("Se ha creado el cliente correctamente");

    p.appendChild(text);
    }
</script>
<div id="tabla_email">
    <table id="tablaemail1">
        <tr>
            <th>Lista de E-mail enviados:</th>
            <th>Asunto:</th>
        </tr>
        <tr>
            <td>vanessa.gomez@hotmail.es</td>
            <td>Reserva de su viaje</td>
        </tr>
    </table>

    <div id="tablaemail2">
        <tr>
            <form action="{% url 'employer_create' %}" method="post">
                {% csrf_token %}
                <p id="nuevo_correo">Redactar un nuevo correo:</p>
                <div id="cabecero">
                E-mail del destinatario: <input type="text">
                <br><br>
                Tu E-mail: <input type="text">
                <br><br>
                Asunto: <input type="text">
                <br><br>
                <input class="personalizar" type="submit" value="Enviar" />
                </div>
                Mensaje: <br><br>
                <textarea name="text" rows="20" cols="90"></textarea>
                <br><br>
            </form>
        </tr>
    </div>

    <table id="tablaemail3">
        <tr>
            <th>Nombre del contacto</th>
            <th>E-mail del contacto</th>
        </tr>
        <tr>
            <td>Alejandro Mariano</td>
            <td>Alejandrino@tontonabo.es</td>
        </tr>
    </table>

</div>

{% endblock %}