{% extends "base.html" %} 
{% load static %}
{% block title %}{{ title }}{% endblock %} 
{% block content %}
<div id="all">
    <div id="argum">
      <a href="{% url 'index_default_view' %}"><input class="personalizar" type="submit" value="Volver al inicio" /></a>
        <h1 id="title">NUEVO EMPLEADO</h1>
        <p>Rellena el siguiente formulario para añadir un nuevo empleado:</p>
        <div>
          <script>
            function Changecolor(){
              color=red
      
            }
            var color=document.getElementsByTagName("input")
            color.keydown=Changecolor;
          </script> 
            <form action="{% url 'employer_create' %}" method="post">
              {% csrf_token %}
              {{form.as_p}}
              <input class="personalizar" type="submit" value="Registrarse" />
            </form>       
        </div>
    </div>
    <div class='mt-3' id="answer">
    </div>
  </div>
</div>
{% endblock %}