{% extends "base.html" %}
{% block tittle %}{{ tittle }}{% endblock %}
{% block content %}
<h1>Lista de tickets</h1>
<div>
    <table>
        <tr>
            <th>Nº Referencia</th>
            <th>Equipos</th>
            <th>Titulo</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>Nivel urgencia</th>
            <th>Fecha apertura</th>
            <th>Fecha resolucion</th>
            <th>Descri
                pcion</th>
            <th>Comentarios</th>
        </tr>
        {% if list_tickets_already_exists %}  
            {% for ticket in list_tickets_already_exists %}
                <tr>
                    <td>{{ ticket.reference_number }}</td>
                    <td>{{ ticket.machine }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.ticket_type }}</td>
                    <td>{{ ticket.urgency_level }}</td>
                    <td>{{ ticket.starting_date }}</td>
                    <td>{{ ticket.resolution_date }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.comment }}</td>
                </tr>
            {% endfor %}
        {% else %}
        <tr>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
        </tr>
        {% endif %}
     </table>
</div>
{% endblock %}