{% extends "base.html" %}

{% block tittle %}Registro para nuevo empleado{% endblock %}

{% block content %}
<h1>NUEVO EMPLEADO</h1>
<P>Rellena el siguiente formulario para añadir un nuevo empleado:</P>
<div>
    <!--Change form-->
       <form action="{% url 'employer_create' %}" method="post">
             {% csrf_token %}
             {{ form.as_p }}
            <input type="submit" value="employer_create" />
        </form>
    <!--Change form-->
</div>
<fieldset>
    <legend>Datos del empleado</legend>
    <br>
    <form>
        Nombre:<input type="text">
        <br><br>
        Apellidos:<input type="text">
        <br><br>
        DNI del empleado:<input type="text">
        <br><br>
        E-mail:<input type="text">
        <br><br>
        Telefono:<input type="text">
        <br><br>
    </form>
    <div id="enviar">
    <input type="submit" value="Enviar">
    </div>
</fieldset>
    </div>

{% endblock %}