{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %} 
{% block content %}
<div id="todo3">
    <div id="argum3">
        <a href="{% url 'menu_default_portal' %}"><input class="personalizar" type="submit" value="Volver al inicio" /></a>
        <h1 id="title3">NUEVO EQUIPO</h1>
        <p>Rellena el siguiente formulario para añadir un nuevo equipo:</p>
        <div>
            <form action="{% url 'machine_registry' %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input class="personalizar" type="submit" value="Nuevo equipo" />
            </form>
        </div>
    </div>
</div>
{% endblock %}