{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div>
    <script>
        alert('Welcome again :)')
    </script>
</div>
<div id="botones_eleccion">
    <div id="boton_1">
        <a href="{% url 'employer_default_portal' %}"><input class="personalizar" type="button" value="Ir a la lista de maquinas"></a>
    </div>
    <div id="boton_2">
        <a href="{% url 'ticket_default_portal' %}"><input class="personalizar" type="button" value="Ir a la lista de tickets"></a>
    </div>
    <div id="boton_3">
        <a href="{% url 'employer_emails' %}"><input class="personalizar" type="button" value="Checkear tu email"></a>
    </div>
</div>


{% endblock %}