{% extends "base.html" %}
{% load static %}

{% block tittle %}{{ tittle }}{% endblock %}

{% block content %}
<div>
    <script>
        alert('Welcome again :)')
    </script>
</div>
<div id="botones_eleccion">
    <div id="boton_1">
        <a href="{% url 'employer_default_portal' %}"><input class="personalizar" type="button" value="Acceder a lista de maquinas"></a>
    </div>
    <div id="boton_2">
        <a href="{% url 'ticket_default_portal' %}"><input class="personalizar" type="button" value="Acceder a lista de tickets"></a>
    </div>
</div>


{% endblock %}