{% extends "base.html" %} 
{% load static %} 
{% block title %}{{ title }}{% endblock %} 
{% block content %}
<div>
    
  <!-- <script>
      const SERVICE_URL="http://127.0.0.1:8000/nexus.com/apialltickets/"
      function loadData() {
        fetch(SERVICE_URL)
        .then((response) => response.json())
        .then((json) => {
            for (let element of json) {
            var url="http://127.0.0.1:8000/nexus.com/ticket/update/"
            console.log(element.model);
            url=url+element.id+"/"
            var machine=element.machine;
            var dates='<td>'+element.reference_number+'</td> <td>'+element.brand+'</td> <td>'+element.title+'</td> <td>'+element.status+'</td> <td>'+element.ticket_type+'</td> <td>'+element.urgency_level+'</td> <td>'+element.starting_date+'</td> <td>'+element.resolution_date+'</td> <td>'+element.description+'</td> <td>'+element.comment+'</td> <td><a href='+url+'><input class="personalizar" type="button" value="Actualizar"></a></td> <td><input type="submit" value="Delete" placeholder="Delete" /></td>'
            console.log(dates)
            document.getElementById("table2").insertRow(-1).innerHTML =dates
            
            }
        });
    }
        loadData();       
  </script> -->
</div>
<h1 id="titletabla">Lista de tickets</h1>
<div>
    <a href="{% url 'ticket_registry' %}"><input class="personalizar" type="submit" value="Nuevo Ticket" /></a>
    <!--<a href="{% url 'machine_registry' %}"><input class="personalizar" type="submit" value="Nuevo Equipo" /></a>-->
    <!--<a href="{% url 'employer_update' 3 %}"><input class="personalizar" type="submit" value="Actualizar perfil empleado" /></a>-->
    <a href="{% url 'menu_default_portal' %}"><input class="personalizar" type="submit" value="Volver al inicio" /></a>
</div>

<div id="tabla">
    <table id="table2">
        <tr>
            <th>Nº Referencia</th>
            <th>Equipos</th>
            <th>Titulo</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>Nivel urgencia</th>
            <th>Fecha apertura</th>
            <th>Fecha resolucion</th>
            <th>Descripcion</th>
            <th>Comentarios</th>
            <th>Actualizar</th>
            <th>Delete</th>
        </tr>
        {% if list_tickets_already_exists %} {% for ticket in list_tickets_already_exists %}
        <tr>
            <td>{{ ticket.reference_number }}</td>
            <td>
                {% for machine_model in ticket.machine.all %}
                <p>Marca: {{ machine_model.brand }} /// Modelo: {{ machine_model.model }}</p>
                {% endfor %}
            </td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.ticket_type }}</td>
            <td>{{ ticket.urgency_level }}</td>
            <td>{{ ticket.starting_date }}</td>
            <td>{{ ticket.resolution_date }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.comment }}</td>
            <td>
                <a href="{% url 'update_ticket' ticket.id %}"><input class="personalizar" type="button" value="Actualizar"></a>
            </td>
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <button class="personalizar" type="submit" value={{ ticket.id }} name="Delete">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <td>
                <a href="{% url 'update_ticket' ticket.id %}"><input type="button" value="Actualizar"></a>
            </td>
            <td>
                <a href="{% url 'employer_create' %}"><input type="button" value="Registrar"></a>
            </td>
            <td>
                <div>
                    <form action="{% url 'employer_default_portal' %}" method="delete">
                        {% csrf_token %}
                        <input type="submit" value="Delete" placeholder="Delete" />
                    </form>
                </div>
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}