{% extends "base.html" %} 
{% load static %} 
{% block title %}{{ title }}{% endblock %} 
{% block content %}
</div>
<div id="fondo"class="elementos_alineados">
    <div id="botones_header">
        <a href="{% url 'index_default_view' %}"><input class="boton-sub-header" type="submit" value="Log out" /></a>
        <a href="{% url 'employer_update' logged_employer.id %}"><input class="boton-sub-header" type="submit" value="Personalizar cuenta" /></a>
        <a href="{% url 'employer_default_portal' %}"><input class="boton-sub-header" type="submit" value="Lista de maquinas" /></a>
        <a href="{% url 'employer_emails' %}"><input class="boton-sub-header" type="submit" value="Email" /></a>
    </div>
    <div id="iconos">
        <p id="conocenos">Conocenos: </p>
        <a href="https://twitter.com/?lang=es"><img src="{% static  "../static/img/iconoTwitter2.png" %}" alt="" class="icono"/></a>
        <a href="https://www.facebook.com/"><img src="{% static "../static/img/facebook.png" %}" alt="" class="icono"/></a>
        <a href="https://es.linkedin.com/"><img src="{% static "../static/img/linkedln.png"  %}" alt="" class="icono"/></a>
    </div>
</div>
<div>
    <a href="{% url 'api_all_machine' %}"><input class="boton-sub-header" type="submit" value="Maquinas en json" /></a>
    <a href="{% url 'api_all_tickets' %}"><input class="boton-sub-header" type="submit" value="Tickets en json" /></a>
    <a href="{% url 'api_all_email' %}"><input class="boton-sub-header" type="submit" value="Emails en json" /></a>
</div>
<h1 id="titletabla">Lista de tickets</h1>
<div>
    <a href="{% url 'ticket_registry' %}"><input class="personalizar" type="submit" value="Nuevo Ticket" /></a>
</div>
<div id="tabla">
    <table id="table2">
        <tr>
            <th>Nº Referencia</th>
            <th>Equipos</th>
            <th>Titulo</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>Nivel urgencia</th>
            <th>Fecha apertura</th>
            <th>Fecha resolucion</th>
            <th>Descripcion</th>
            <th>Comentarios</th>
            <th>Actualizar</th>
            <th>Delete</th>
        </tr>
        {% if list_tickets_already_exists %} {% for ticket in list_tickets_already_exists %}
        <tr>
            <td>{{ ticket.reference_number }}</td>
            <td>
                {% for machine_model in ticket.machine.all %}
                <p>Marca: {{ machine_model.brand }} /// Modelo: {{ machine_model.model }}</p>
                {% endfor %}
            </td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.ticket_type }}</td>
            <td>{{ ticket.urgency_level }}</td>
            <td>{{ ticket.starting_date }}</td>
            <td>{{ ticket.resolution_date }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.comment }}</td>
            <td>
                <a href="{% url 'update_ticket' ticket.id %}"><input class="personalizar" type="button" value="Actualizar"></a>
            </td>
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <button class="personalizar" type="submit" value={{ ticket.id }} name="Delete">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <th>No data</th>
            <td>
                <a href="{% url 'update_ticket' ticket.id %}"><input type="button" value="Actualizar"></a>
            </td>
            <td>
                <a href="{% url 'employer_create' %}"><input type="button" value="Registrar"></a>
            </td>
            <td>
                <div>
                    <form action="{% url 'employer_default_portal' %}" method="delete">
                        {% csrf_token %}
                        <input type="submit" value="Delete" placeholder="Delete" />
                    </form>
                </div>
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}