{% extends "base.html" %}

{% block tittle %}{{ tittle }}{% endblock %}

{% block content %}
<div id="todo">
    <div id="argum2">
    
<h1 id="title2">NUEVO TICKET</h1>
<P>Rellena el siguiente formulario para añadir un nuevo ticket:</P>
  
    <legend>Datos del ticket</legend>
    <br>
    <div>
        <form action="{% url 'ticket_registry' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Registrar ticket" />
            <br><br>
            <input type="submit" value="Actualizar maquina"/>
        </form>
    </div>
    </div>
</div>

{% endblock %}