{% extends "base.html" %} 
{% load static %}
{% block tittle %}{{ tittle }}{% endblock %} 
{% block content %}
<!--    Here is the body code   -->
<div id="todo6">
    <div id="argum6">
        <h1 id="title6">ACTUALIZAR TICKET</h1>
        <p>Rellena los siguientes datos para actualizar el ticket:</p>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                Numero de referencia:<input type="text">
                <br><br>
                Titulo:<input type="text">
                <br><br>
                Descripcion:<input type="text">
                <br><br>
                <p>Selecciona la fecha de apertura: </p>
                <label for="fecha">
                        <input type="date" id="fecha" name="fecha_incidencia" />
                    </label>
                <p>Selecciona la fecha de resolucion: </p>
                <label for="fecha">
                        <input type="date" id="fecha" name="fecha_incidencia" />
                    </label>
                <br><br> 
                Nivel de urgencia:<select id="urgencia" name="urgencia">
                        <option selected>Urgente</option>
                        <option>Alta</option>
                        <option>Media</option>
                        <option>Baja</option>
                </select>
                <br><br> 
                Tipo:<select id="tipo" name="tipo">
                        <option>Averia</option>
                        <option selected>Mejora</option>
                        <option>Mantenimiento</option>
                </select>
                <br><br> 
                Estado:<select id="estado" name="estado">
                        <option selected>Abierto</option>
                        <option>Cerrado</option>
                </select>
                <br><br>
                <label for="comentario_ticket">
                    Comentarios:<input type="placeholder" id="comentario" name="comentario_update_ticket" />
                </label>
                <br><br>
                <input class="personalizar" type="submit" value="Actualizar ticket" />
            </form>
        </div>
    </div>
</div>

{% endblock %}