{% extends "base.html" %} {% block tittle %}{{ tittle }}{% endblock %} {% block content %}
<!--    Here is the body code   -->
<div id="todo4">
    <div id="argum4">
        <h1 id="title4">ACTUALIZAR PERFIL DEL EMPLEADO</h1>
        <p>Rellena los siguientes datos para actualizar el perfil:</p>
        <div>
            <form action="" method="post">
                Nombre:<input type="text">
                <br><br> 
                Apellidos:<input type="text">
                <br><br> 
                DNI del empleado:<input type="text">
                <br><br> 
                E-mail:<input type="text">
                <br><br> 
                Telefono:<input type="text">
                <br><br>
                E-mail:<br><input type="text">
                <br><br> 
                Contraseña:<input type="password">
                <br><br> 
                Ticket:<br><input type="text">
                {% csrf_token %} {{ form.as_p }}
                <input class="personalizar" type="submit" value="Actualizar" />
            </form>
        </div>
    </div>
</div>
{% endblock %}