{% extends "base.html" %}
{% load static %}
{% block tittle %}{{ tittle }}{% endblock %} 
{% block content %}
<!--    Here is the body code   -->
<div id="todo5">
    <div id="argum5">
        <h1 id="title5">ACTUALIZAR MACHINE</h1>
        <p>Rellena los siguientes datos para actualizar la machine:</p>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                Establecer numero:<input type="text">
                <br><br>
                Modelo:<input type="text">
                <br><br>
                Marca:<input type="text">
                <br><br>
                Tipo de maquina:<input type="text">
                <br><br>
                <p>Fecha: </p>
                <label for="fecha_update">
                    <input type="date" id="fecha" name="fecha_maquina" />
                </label>
                <br><br>
                <p>Fecha de puesta en marcha: </p>
                <label for="fecha_marcha">
                    <input type="date" id="fecha" name="fecha_maquina_marcha" />
                </label>
                <br><br>
                Nombre del proveedor:<input type="text">
                <br><br>
                Telefono proveedor:<input type="text">
                <br><br>
                Piso en local:<input type="text">
                <br><br>
                <input class="personalizar" type="submit" value="Actualizar" />
            </form>
        </div>
    </div>
</div>

{% endblock %}