{% extends "base.html" %} 
{% load static %}
{% block title %}{{ title }}{% endblock %} 
{% block content %}
<!--    Here is the body code   -->
<div id="todo4">
    <div id="argum4">
        <a href="{% url 'menu_default_portal' %}"><input class="personalizar" type="submit" value="Volver al inicio" /></a>
        <h1 id="title4">ACTUALIZAR PERFIL DEL EMPLEADO</h1>
        <p>Rellena los siguientes datos para actualizar el perfil:</p>
        <div>
            <form action="" method="post">
                {% csrf_token %} 
                {{ form.as_p }}
                <input class="personalizar" type="submit" value="Actualizar" />
            </form>
        </div>
    </div>
</div>
{% endblock %}