{% extends "base.html" %} 
{% load static %}
{% block title %}{{ title }}{% endblock %} 
{% block content %}
<!--    Here is the body code   -->
<div id="todo6">
    <div id="argum6">
        <a href="{% url 'menu_default_portal' %}"><input class="personalizar" type="submit" value="Volver al inicio" /></a>
        <h1 id="title6">ACTUALIZAR TICKET</h1>
        <p>Rellena los siguientes datos para actualizar el ticket:</p>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="personalizar" type="submit" value="Actualizar ticket" />
            </form>
        </div>
    </div>
</div>

{% endblock %}