{% extends "base.html" %} 
{% load static %}
{% block title %}{{ title }}{% endblock %} 
{% block content %}
<!--    Here is the body code   -->
<div id="todo4">
    <div id="argum4">
        <a href="{% url 'menu_default_portal' %}"><input class="personalizar" type="submit" value="Volver al inicio" /></a>
        <h1 id="title4">ACTUALIZAR PERFIL DEL EMPLEADO</h1>
        <p>Rellena los siguientes datos para actualizar el perfil:</p>
        <div>
            <form action="" method="post">
                {% csrf_token %} 
                Nombre:<input type="text" name="name">
                <br><br> 
                Apellidos:<input type="text" name="surname">
                <br><br> 
                DNI del empleado:<input type="text" name="dni">
                <br><br> 
                E-mail:<input type="text" name="email">
                <br><br> 
                Telefono:<input type="text" name="telefone_number">
                <br><br>
                User-Nick:<input type="text" name="user_nick">
                <br><br>
                Contraseña:<input type="password" name="password">
                <br><br>
                <input class="personalizar" type="submit" value="Actualizar" />
            </form>
        </div>
    </div>
</div>
{% endblock %}